* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* MENU LATERAL */
.lateral-menu {
  background: black;
  color: white;
  width: 250px;
  height: 100vh;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 120px;
  margin-bottom: 30px;
}

.menu-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

.menu-items li img {
  margin-bottom: 8px;
}

/* ÁREA PRINCIPAL */
.content {
  background-color: #f5f6fa;
  width: 100%;
  padding: 40px;
}

/* CARDS KPI */
.cards-header {
  display: flex;
  gap: 20px;
}

.card {
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: 132px;
  width: 240px;

  display: flex;
  align-items: center;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info h2 {
  font-size: 42px;
  font-weight: bold;
  color: #ffbf00;
}

.card-info p {
  font-size: 18px;
  margin-bottom: 8px;
}

/* CONTEÚDO LADO A LADO (GRÁFICO + RANKING) */
.linha-conteudo {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  align-items: flex-start;
  width: 100%;
}

/* GRÁFICO OCUPA TODO O LADO ESQUERDO AUTOMATICAMENTE */
.radar-card {
  flex: 1; /* >>> AQUI É O PULO DO GATO <<< */
  min-width: 550px;
  height: 450px;
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RANKING FICA DO LADO DIREITO */
.ranking-card {
  width: 380px; /* aumentei para fechar mais o espaço */
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.18);
  height: fit-content;
}


.ranking-card h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}

.ranking-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.posicao {
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  color: #999;
}

.ouro {
  color: #ffbf00;
}

.prata {
  color: #8e8e8e;
}

.bronze {
  color: #cd7f32;
}

.ranking-list .nome {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  color: #000;
}

.pontos {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
