@font-face {
  font-family: "Star";
  src: url("../font/Starjedi.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Arial, sans-serif;
  color: #fff;
  font-family: "Star";
}

.container-auth {
  display: flex;
  height: 100vh;
}


.image-side {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}


.form-side {
  width: 50%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.form-side h1 {
  font-size: 42px;
  font-family: "Star";
  letter-spacing: 3px;
  margin-bottom: 40px;
  color: #fff;
}

 
form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 15px;
  color: white;
}

form input:focus {
  border-color: #ffe81f;
  outline: none;
}

 
.form-side p {
  font-size: 14px;
  color: #bbb;
}

.form-side a {
  color: #ffe81f;
  text-decoration: none;
}


form button {
  width: 180px;
  padding: 13px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #ffe91fdc;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background: #ffe91f46;
}

 
.erro {
  color: #ffe81f;
  margin-top: 8px;
  height: 20px;
}