<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/dash.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="container">
      <!-- MENU LATERAL -->
      <aside class="lateral-menu">
        <img src="../assets/icon/logo.png" class="logo" />

        <ul class="menu-items">
          <li>
            <img src="../assets/icon/dashboard.svg" />
            <p>Dashboard</p>
          </li>
          <li>
            <img src="../assets/icon/personagens.svg" />
            <p>Personagem</p>
          </li>
          <li>
            <img src="../assets/icon/planetas.svg" />
            <p>Planetas e luas</p>
          </li>
          <li>
            <img src="../assets/icon/nave.svg" />
            <p>Naves espaciais</p>
          </li>
        </ul>
      </aside>

      <!-- CONTEÚDO PRINCIPAL -->
      <main class="content">
        <!-- LINHA DE CARDS -->
        <div class="cards-header">
          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Personagens</p>
                <h2>10</h2>
              </div>
              <img src="../assets/icon/personagens-black.svg" />
            </div>
          </div>

          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Luas</p>
                <h2>8</h2>
              </div>
              <img src="../assets/icon/luas-black.svg" />
            </div>
          </div>

          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Planetas</p>
                <h2>24</h2>
              </div>
              <img src="../assets/icon/planetas-black.svg" />
            </div>
          </div>

          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Naves</p>
                <h2>22</h2>
              </div>
              <img src="../assets/icon/nave-black.svg" />
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
