<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/dash.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="container">

      <!-- MENU LATERAL -->
      <div class="lateral-menu">
        <div class="nav_logo">
          <a href="index.html">
            <img src="../assets/icon/logo.png" class="logo" />
          </a>
        </div>

        <ul class="menu-items">
          <li>
            <img src="../assets/icon/dashboard.svg" />
            <p>Dashboard</p>
          </li>
          <li>
            <img src="../assets/icon/personagens.svg" />
            <p>Pontuação</p>
          </li>
          <li>
            <img src="../assets/icon/planetas.svg" />
            <p>Tempos</p>
          </li>
          <li>
            <img src="../assets/icon/nave.svg" />
            <p>Total de Tentativas</p>
          </li>
        </ul>
      </div>

      <!-- CONTEÚDO PRINCIPAL -->
      <main class="content">

        <!-- LINHA DE CARDS -->
        <div class="cards-header">
          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Pontuação</p>
                <h2>10</h2>
              </div>
              <img src="../assets/icon/personagens-black.svg" />
            </div>
          </div>

          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Tempo max</p>
                <h2>8</h2>
              </div>
              <img src="../assets/icon/luas-black.svg" />
            </div>
          </div>

          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Tempo min</p>
                <h2>24</h2>
              </div>
              <img src="../assets/icon/planetas-black.svg" />
            </div>
          </div>

          <div class="card card-small">
            <div class="card-content">
              <div class="card-info">
                <p>Tentativas</p>
                <h2>22</h2>
              </div>
              <img src="../assets/icon/nave-black.svg" />
            </div>
          </div>
        </div>

        <!-- GRÁFICO + RANKING - LADO A LADO -->
        <div class="linha-conteudo">

          <!-- CARD DO GRÁFICO -->
          <div class="radar-card">
            <canvas id="graficoQuiz"></canvas>
          </div>

          <!-- CARD DO RANKING -->
          <div class="ranking-card">
            <h3>Ranking Jedis</h3>
            <ul class="ranking-list">
              <li>
                <span class="posicao ouro">1º</span>
                <p class="nome">Pedro Vieira</p>
                <span class="pontos">980 pts</span>
              </li>

              <li>
                <span class="posicao prata">2º</span>
                <p class="nome">Lucas Quevedo</p>
                <span class="pontos">870 pts</span>
              </li>

              <li>
                <span class="posicao bronze">3º</span>
                <p class="nome">Samara</p>
                <span class="pontos">820 pts</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../js/dash.js"></script>

      </main>
    </div>
  </body>
</html>
