<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Star Wars</title>
  <link rel="stylesheet" href="../style/home.css" />
</head>
<body class="sith">

  <div id="stars"></div>

  <header class="navbar">
    <div class="container_nav">
      <div id="logo_nav">
        <a href="#inicio">
          <img src="../assets/starwars - Editado 1.svg" width="120" />
        </a>
      </div>
      <nav>
        <ul>
          <li class="active"><a href="#inicio">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#linhaTempo">Linha do tempo</a></li>
          <li><a href="#licoes">Lado Sombrio</a></li>
          <li><a href="#galeria">Galeria</a></li>
        </ul>
      </nav>
      <button id="themeToggle" class="theme-toggle">Modo Jedi</button>
      <button></button>
    </div>
  </header>


 

  <section class="inicio reveal" id="inicio">
    <div class="logo">
      <img src="../assets/png-transparent-star-wars-hd-logo.png" />
    </div>
    <div class="intro-text">
      <h1>Bem-vindo ao Universo Star Wars</h1>
      <p>Explore uma galáxia muito, muito distante...</p>
      <button onclick="scrollToSection('sobre')">Conheça mais</button>
    </div>
  </section>

  <section class="sobre-starwars reveal" id="sobre">
    <h2>Sobre <span>Star Wars</span></h2>

    <div class="sobre-conteudo">
      <div id="slider">
        <div class="slide active">
          <h1>Início</h1>
          <img src="../assets/fundoS.png" />
        </div>
        <div class="slide">
          <h1>Jedis</h1>
          <img src="../assets/ThreeJedi.webp" />
        </div>
        <div class="slide">
          <h1>Yoda</h1>
          <img src="../assets/pg-28-yoda.avif" />
        </div>
        <div class="slide">
          <h1>Darth Vader</h1>
          <img src="../assets/maria-ten-b7Hr2YK-FuI-unsplash.jpg" />
        </div>
        <div class="slide">
          <h1>Stormtroopers</h1>
          <img src="../assets/storm-troopers.webp" />
        </div>
      </div>

      <div class="texto-sobre">
        <p>
          Star Wars é uma das sagas mais marcantes da história do cinema. Criada por
          George Lucas em 1977, mistura ficção científica, fantasia e aventura.
        </p>
        <p>
          Com personagens lendários como Luke, Leia, Darth Vader e Yoda, a franquia
          se tornou um símbolo cultural e emocional para milhões de fãs pelo mundo.
        </p>
      </div>
    </div>
  </section>

  <section class="linha-tempo-horizontal reveal" id="linhaTempo">
    <h2>Minha Jornada com Star Wars</h2>

    <div class="timeline-horizontal-container">

      <div class="timeline-horizontal-item">
        <img src="../assets/infancia.jpg" class="timeline-img" />
        <h3>Infância</h3>
        <p>Star Wars foi meu refúgio e minha primeira conexão com a imaginação.</p>
      </div>

      <div class="timeline-horizontal-item">
        <img src="../assets/gab.jpg" class="timeline-img" />
        <h3>Pré-adolescência</h3>
        <p>Ganhei minhas primeiras naves e me apaixonei por essa galáxia distante.</p>
      </div>

      <div class="timeline-horizontal-item">
        <img src="assets/adolescencia.jpg" class="timeline-img" />
        <h3>Adolescência</h3>
        <p>Os filmes me ajudaram a enfrentar momentos difíceis e acreditar na esperança.</p>
      </div>

      <div class="timeline-horizontal-item">
        <img src="../assets/HojeEmDIa.jpg" class="timeline-img" />
        <h3>Hoje em dia</h3>
        <p>A Força continua fazendo parte da minha história e dos meus sonhos.</p>
      </div>

    </div>
  </section>

  <section class="licoes reveal" id="licoes">
    <h2>Frases do Lado Sombrio</h2>
    <button id="vaderButton" class="vader-button">Ativar respiração do Vader</button>

    <div class="container_licoes">
      <div class="cards">

        <div class="card-frase">
          <h3>O medo conduz</h3>
          <p>O medo revela aquilo que tentamos esconder. Enfrentá-lo transforma insegurança em poder.</p>
        </div>

        <div class="card-frase">
          <h3>A escuridão é honesta</h3>
          <p>A escuridão mostra a verdade sem máscaras, sem ilusões e sem desculpas.</p>
        </div>

        <div class="card-frase">
          <h3>Poder exige sacrifício</h3>
          <p>Nada grandioso é conquistado sem perder algo no processo. O lado sombrio cobra, mas fortalece.</p>
        </div>

        <div class="card-frase">
          <h3>A queda nos molda</h3>
          <p>Cada falha é um novo capítulo. Cada queda constrói um eu mais forte e consciente.</p>
        </div>

        <div class="card-frase">
          <h3>Conflito gera força</h3>
          <p>A verdadeira força nasce do caos interno. A paz constante não cria guerreiros.</p>
        </div>

        <div class="card-frase">
          <h3>A tentação é real</h3>
          <p>O poder seduz, oferece controle, mas toda promessa tem um preço oculto.</p>
        </div>

        <div class="card-frase">
          <h3>Mesmo na escuridão há luz</h3>
          <p>Anakin provou que mesmo após o abismo, a redenção ainda existe para quem enxerga a luz.</p>
        </div>

        <div class="card-frase">
          <h3>Aceite seu verdadeiro eu</h3>
          <p>O lado sombrio não exige perfeição. Exige sinceridade sobre quem você realmente é.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="galeria reveal" id="galeria">
    <h2>Galeria da Galáxia</h2>
    <div class="galeria-grid">
     <div class="galeria-item">
  <img src="assets/luke.jpg" loading="lazy" alt="Luke Skywalker" /> 
  <div class="galeria-overlay"><span>Luke Skywalker</span></div>
</div>
      <div class="galeria-item">
        <img src="assets/leia.jpg" loading="lazy" alt="Princesa Leia" />
        <div class="galeria-overlay"><span>Princesa Leia</span></div>
      </div>
      <div class="galeria-item">
        <img src="assets/obiwan.jpg" />
        <div class="galeria-overlay"><span>Obi-Wan Kenobi</span></div>
      </div>
      <div class="galeria-item">
        <img src="assets/maul.jpg" />
        <div class="galeria-overlay"><span>Darth Maul</span></div>
      </div>
      <div class="galeria-item">
        <img src="assets/falcon.jpg" />
        <div class="galeria-overlay"><span>Millennium Falcon</span></div>
      </div>
      <div class="galeria-item">
        <img src="assets/deathstar.jpg" />
        <div class="galeria-overlay"><span>Estrela da Morte</span></div>
      </div>
    </div>
  </section>

 

  <footer class="footer">
    <div class="footer-container">

      <div class="footer-col">
        <h3>Star Wars</h3>
        <p>Uma galáxia muito, muito distante sempre presente na minha história.</p>
      </div>

      <div class="footer-col">
        <h3>Navegação</h3>
        <ul>
          <li><a href="#inicio">Início</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#linhaTempo">Linha do tempo</a></li>
          <li><a href="#licoes">Lado Sombrio</a></li>
          <li><a href="#galeria">Galeria</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h3>Contato</h3>
        <p>Email: pedro.starwars@galaxia.com</p>
        <p>Instagram: @pedro_cardoso</p>
      </div>

    </div>

    <div class="footer-bottom">
      <p>Que a Força esteja com você. Sempre.</p>
    </div>
  </footer>

  <button id="backToTop" class="back-to-top">↑</button>

  <audio id="vaderAudio">
    <source src="../assets/audio/respiração.mp3" type="audio/mpeg" />
  </audio>

  <script src="../js/index.js"></script>
</body>
</html>
